{{define "layout"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iMessage Admin</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
    <body>
	
        <div class="head">
            <div class="head_left"><h1>管理后台</h1></div>
            <div class="head_right">欢迎登陆，管理员：{{.UserName}}|<a id="logout" href="#">退出系统</a></div>
        </div>
		<div class=main_frame>
			<div class="left">
            <ul>
                <li><a href="/admin/index">任务看板</a> </li>
                <li><a href="/admin/add">添加任务</a> </li>
            </ul>         
            </div>
			<div class="main">
                {{template  "main" .}}
			</div>
		</div>
    </body>
</html>
<script type="text/javascript" src="/js/base.js" ></script>
{{end}}