@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, input, select, textarea, table, caption, tbody, tfoot, thead, tr, th, td{ margin: 0; padding: 0;}

img{border:none;}
a{text-decoration:none;color:#0e90d2;font-size:14px;}
body{font-family:"微软雅黑";font-family: "Verdana, Arial, Helvetica, sans-serif";}
a span  {cursor:pointer;}
ul,li {list-style:none;}

table {border-collapse: separate;text-align: right;}
caption, th, td {text-align: left;font-weight: normal;}
select, textarea, input, button {vertical-align:middle;font-family:inherit;font-size:100%;}
q:before, q:after, blockquote:before, blockquote:after { content: "";}
inline blockquote, q {quotes: "" "";}

.clear{clear:both;}
.none{display:none;}
.left{float:left;}
.right{float:right;}

.head {
    width:100%;
    height: 80px;
    border-bottom:1px solid #AAA;
}
.head_left {
    float:left;
    width:70%;
    margin-left: 10px;
    padding-top: 10px;
    height: 70px;
}
.head_right {
    float:right;
    height: 50px;
    padding-right: 10px;
    padding-top: 30px;
    text-align: right;
}

.main_frame{
    top:80px;
	height:100%;
	width:100%;
    clear: both;
}

.main_left {
    float:left;
    width:10%;
    min-height:500px;
    border-right:1px solid #AAA;
}

.main_left ul{margin-top: 20px;}
.main_left li{height:30px;display:block;padding-left: 20px;}

.left_cur{
    background-color: #73938E;
}

.main {
    margin-left:10%;
    min-height:80%;
	padding:10px;
}

a:link,a:visited {
    text-decoration:none;
}

.main_table {
    margin:20px 0px 0px 0px;
    width:100%;
    border:1px solid #AAA;
    align:center;
    cellpadding:3;
    cellspacing:1;
    border-collapse:collapse
}

.paging {
    width:80%;
    left:30%;
    align:right;
}


.main_table thead tr{
    background-color: #73938E;
}
.main_table thead th{
    border:1px solid #AAA;
    color: beige;
    font-weight: bold;
}

.main_table tr{
}

.main_table th, .main_table td {
    border-top: 1px solid #DDD;
    padding: 5px;
    text-align: left;
}

.main_button {
    margin:3px;
    width:100px;
    height:25px;
}


.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187);
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted rgb(51, 51, 51);
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}

.main_table .btn{margin-right:5px;}

/*表单组样式*/
.group{height: 40px;}
.group label {
    line-height: 30px;/*高度为30px*/
    font-size: 16px;/*字体大小为18px*/
	margin-right:3px;
	width:80px;
	display: inline-block;
}
.group input {
    width: 250px;/*宽度为250px*/
    height: 30px;/*高度为30px*/
    border: 1px solid #ddd;/*输入框的边框*/
    padding: 0px 0px 0px 10px;/*左边内边距为10px，显得美观*/
    font-size: 16px;/*字体大小*/
}
.group input:focus{
    border-left: 1px solid #CC865E;/*当输入框成为焦点时，左边框颜色编程褐色*/
}
.page {
    clear: both;
    margin-top: 0;
    overflow: hidden;
    padding: 10px 0 15px;
	text-align: right;
}
.page span {
	background: #F6F6F6 none repeat scroll 0 0;
    font-weight: normal;
	border: 1px solid #EBEBEB;
    border-radius: 0;
	margin-left: 5px;
    overflow: hidden;
    padding: 3px 8px;
}
.page a{
    color: rgb(108, 108, 108);
    font-weight: normal;
}

.page span:hover {
    background-color: rgb(255, 156, 0);
    color: rgb(255, 70, 78);
    text-decoration: none;
}
.page .active a{
    color: rgb(255, 70, 78);
}



