<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>登陆页面</title>
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
        <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
		
		<div class="content">
	        <div class="panel">
			<form data-type="formAction" action="/login/login" form-rediret="/admin/index">
	            <div class="group">
	                <label>账号</label>
	                <input name="admin_name" placeholder="请输入账号">
	                
	            </div>
	            <div class="group">
	                <label>密码</label>
	                <input name="admin_password" placeholder="请输入密码" type="password">
	            </div>
	            <div class="login">
	                <button>登录</button>
	            </div>
	        </form>
			</div>
    	</div>
    </body>
    <script type="text/javascript" src="/js/base.js" ></script>
</html>