<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>登陆页面</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        {{with .List}}  
            {{range .}}  
            <h1>{{.Id}} - {{.ScheduleExpr}} - {{.Desc}}</h1>
            {{end}}  
        {{end}}
    </body>
</html>